<h1>GraphSlider</h1>
<div class="main-container">
  <div class="graph-slider">
    <table>
      <tr ng-repeat="graph in vm.graphs track by $index" ng-drop="true" ng-drop-success="vm.onDropComplete($index, $data, $event)">
        <td ng-drag="true" ng-drag-data="graph">
          <div>{{$index}}</div>
          <img ng-src="{{graph.img}}" ng-click="vm.setCurrent(graph)" alt="graph thumbnail" class="thumbnail" />
        </td>
      </tr>
    </table>
  </div>
  <div class="graph">
    <img src="{{vm.current[0].img}}" alt="graph main" class="main-graph"/>
    <div ng-repeat="comment in vm.current[0].comments track by $index" class="comment">
      <span>{{comment}}</span>
    </div>
    <br/>
    <div class="new-comment-container">
      <input type="text" placeholder="Write a note ..." ng-model="vm.newComment" class="new-comment">
      <button type="button" ng-click="vm.addComment(vm.newComment)">Add</button>
    </div>
  </div>
</div>
