.thumbnail {
  width: 100px;
}

.main-container {
  display: flex;
}

.graph {
  width: 600px;
}
.new-comment-container {
  display: flex;
  justify-content: space-between;
}

.new-comment {
  width: 80%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment {
  padding-bottom: 15px;
}

.time {
  color: rgb(91, 91, 91);
  font-size: 12px;
}
