.thumbnail {
  width: 100px;
}

.main-container {
  display: flex;
}

.new-comment-container {
  display: flex;
  justify-content: space-between;
}

.new-comment {
  width: 80%;
}

.comment {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
